<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class='container body-content'>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>